.interface-padding{
    padding-bottom: 5px;
}

.shadows{
    background-color: #fff;
   /* shadows and rounded borders */
   -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}