<div class="container-fluid">
    <div class="panel panel-default shadows">
        <div class="panel-body">
          <form>
            <div class="input-group  interface-padding">
                <input id='input' name="input-bar" [disabled]="executingCheck()" type="text" class="form-control" placeholder="enter command ... " aria-describedby="basic-addon2" [(ngModel)]="inputText" (keydown.enter)="ifEnter($event)">
                <span class="input-group-addon" id="basic-addon2" (click)="runCommand()">Insert</span>
            </div>
            <textarea class="form-control" rows="10">{{textArea}}</textarea>
          </form>
            
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="panel panel-default shadows">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active" (click)="switch1()">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> {{this.signInService.character.name}}
            </label>
            <label class="btn btn-secondary" (click)="switch2()">
                <input type="radio" name="options" id="option2" autocomplete="off"> GameEvents
            </label>
            <label class="btn btn-secondary" (click)="switch3()">
                <input type="radio" name="options" id="option3" autocomplete="off"> Close
            </label>
        </div>

        <div class="panel-body" *ngIf="showStats">
            <ul>
                <li>Health : {{this.signInService.character.health}}</li>
                <li>Smell : {{this.signInService.character.smell}}</li>
                <li>Sound : {{this.signInService.character.sound}}</li>
                <li>Bullets : {{this.signInService.character.bullets}}</li>
                <li>Gun Power : {{this.signInService.character.gunPower}}</li>
                <li>Reload : {{this.signInService.character.reload}}</li>
                <li>Aim : {{this.signInService.character.aim}}</li>
                <li>Clumsiness : {{this.signInService.character.clumsiness}}</li>
                <li>Inventory:</li> <ul><li *ngFor="let item of this.signInService.character.inventory">{{item.name}}</li></ul>
            </ul>
        </div>

        <div class="panel-body" *ngIf="showGameInfo">
            <additional-info [socket]="socket"></additional-info>
        </div>
    </div>
</div>

<div class="container-fluid">
        <div class="panel panel-default shadows">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary" (click)="switch4()">
                    <input type="radio" name="options" id="option1" autocomplete="off"> {{this.signInService.character.name}}
                </label>
                <label class="btn btn-secondary active" (click)="switch5()">
                    <input type="radio" name="options" id="option2" autocomplete="off" checked> GameEvents
                </label>
                <label class="btn btn-secondary" (click)="switch6()">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Close
                </label>
            </div>
    
            <div class="panel-body" *ngIf="showStats2">
                <ul>
                    <li>Health : {{this.signInService.character.health}}</li>
                    <li>Smell : {{this.signInService.character.smell}}</li>
                    <li>Sound : {{this.signInService.character.sound}}</li>
                    <li>Bullets : {{this.signInService.character.bullets}}</li>
                    <li>Gun Power : {{this.signInService.character.gunPower}}</li>
                    <li>Reload : {{this.signInService.character.reload}}</li>
                    <li>Aim : {{this.signInService.character.aim}}</li>
                    <li>Clumsiness : {{this.signInService.character.clumsiness}}</li>
                    <li>Inventory:</li> <ul><li *ngFor="let item of this.signInService.character.inventory">{{item.name}}</li></ul>
                </ul>
            </div>
    
            <div class="panel-body" *ngIf="showGameInfo2">
                <additional-info [socket]="socket"></additional-info>
            </div>
        </div>
    </div>
