<div class="container-fluid">
    <div class="panel panel-default shadows">
        <div class="panel-body">
            <map [socket]="socket"></map>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="panel panel-default shadows">
        <div class="panel-body">
            <h5>In {{roomName}} : <i>{{roomDescription}}</i></h5>
            <hr>
            <ul><li *ngFor="let character of roomList">{{character.name}}</li></ul>
        </div>
    </div>
</div>

<div class="container-fluid">
        <div class="panel panel-default shadows">
            <div class="panel-body" >
                <h5>Players Online : {{playerCount}} : {{connectionCount}}</h5>
                <hr>
                <ul><li *ngFor="let player of playerList">{{player.name}}</li></ul>
            </div>
        </div>
    </div>

