<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 ps-colm-padding">
              <div class="panel-body"> 
                <h3>Renegade Survivor</h3>
                <img src="/assets/images/urbanTown.jpg" alt="urban Town">
                <p>This is a MUD that attempts to give greater cross room interaction.  
                  Characters must scour the world, hunt for the overlord and defeat him.  
                  Beware his bandits, they are hunting your every step!</p>
              </div>
              <div class="panel-body">
                <h3>Face Direction</h3>
                <img src="/assets/images/face.jpg" alt="urban Town">
                <p>Every character has a direction they face so theycan be snuck up by other players.</p>
              </div>
              <div class="panel-body">
                <h3>Sight Detection</h3>
                <img src="/assets/images/sight.jpg" alt="urban Town">
                <p>Characters can see other characters in other rooms if there are no walls between them
                  and see what actions they undertake.
                </p>
              </div>
              <div class="panel-body">
                <h3>Smell Detection</h3>
                <img src="/assets/images/onions.jpg" alt="urban Town">
                <p>Characters emit detectable smells after eating food.</p>
              </div>
              <div class="panel-body">
                <h3>Sound Detection</h3>
                <img src="/assets/images/sound.png" alt="urban Town">
                <p>Characters can hear the actions of other characters in they are loud and close enough.</p>
              </div>
              <div class="panel-body">
                <h3>Sense detection impacted by the world</h3>
                <img src="/assets/images/alley.jpg" alt="urban Town">
                <p>feature details</p>
              </div>
            </div>
            <div class="col-md-6 ps-colm-padding">
              
              <div class="panel-body">
                <h3>Bandits Hunt by sound</h3>
                <img src="/assets/images/bandit.jpg" alt="urban Town">
                <p>Bandits uses sounds to detect characters and hunt them down</p>
              </div>
              <div class="panel-body">
                <h3>Objects to hide in</h3>
                <img src="/assets/images/hide.jpg" alt="urban Town">
                <p>Characters can hide in, under and behind objects in the world to evade detection.</p>
              </div>
              <div class="panel-body">
                <h3>Interactive Lights</h3>
                <img src="/assets/images/light.jpg" alt="urban Town">
                <p>Rooms are connected to circuits that control lights.  Find light switches to 
                  turn on or off the lights on all rooms on the circuit. 
                </p>
              </div>
              <div class="panel-body">
                <h3>Actions take time</h3>
                <img src="/assets/images/clock.jpg" alt="urban Town">
                <p>All actions take time to execute making every action count.</p>
              </div>
              <div class="panel-body">
                <h3>Room impacting commands</h3>
                <img src="/assets/images/bomb.jpg" alt="urban Town">
                <p>Find the bomb and detonate to cause an explosion.  It literally blows up rooms destroying objects and walls.</p>
              </div>
            </div>
        </div> 
    </div>
  </div>
</div>
